@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

/* sorting out segment sizes, colors, fonts, etc. */
* {
  box-sizing: border-box;
  --main-color: hsl(191, 79%, 72%);
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  #about-me {
    flex-direction: column;
    height: 70rem;
    align-items: center;
  }

  .about-me-description {
    margin-right: 0 !important;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  #about-me {
    height: 105rem;
  }

  .project-segment {
    height: 60rem !important;
    flex-direction: column;
  }

  .navbar-sections {
    gap: 1rem !important;
  }
}

.segment {
  height: 60rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.25rem;
}

/* navigation bar */
.navbar {
  background-color: var(--main-color);
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

.navbar-sections {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
}

.navbar-sections a {
  color: white;
  text-decoration: none;
}

.navbar-btn:hover {
  transform: scale(1.1);
}

.navbar-btn {
  transition: transform 0.3s ease;
}

/* title section */
#title {
  background-image: url("images/horizon.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 2rem;
}

#title h1 {
  margin-bottom: 5rem;
}

#title-text {
  margin-bottom: 3rem;
}

#typing-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

/* about me segment */
.about-me-description {
  width: 50%;
  margin-right: 10rem;
}

.about-me-right {
  text-align: center;
}

#headshot {
  border-radius: 5rem;
  height: 20rem;
  width: auto;
}

.tech-logo {
  height: 5rem;
  width: auto;
}

#tech-stack-logos {
  margin-top: 1.5rem;
}

/* projects segment */
.project-segment {
  background-color: var(--main-color);
  color: white;
  height: 40rem;
}

.project-segment h1 {
  font-size: 4.5rem;
  margin: 1rem 2rem;
}

.project-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.project-image {
  display: flex;
  width: 45%;
  align-items: center;
}

.project-image img {
  max-width: 90%;
  height: auto;
  border-radius: 3rem;
}

#tech-stack {
  margin: 0.5rem 0;
}

.project-description {
  width: 50%;
}

/* Email form */
#contact {
  flex-direction: column;
  font-size: 2.5rem;
  height: 50rem;
}

form {
  width: 40%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 5px solid black; */
}

input,
textarea {
  font-size: 1.25rem;
}

.field {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  text-align: left;
}

/* Socials */
.social-logo {
  height: 10rem;
  width: auto;
}

#links-logos {
  text-align: center;
}

#links {
  background-color: var(--main-color);
  border-bottom: 0;
}
#project-image {
  border-radius: 2rem;
  height: 15rem;
  width: auto;
}
